appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
backcall==0.2.0
backports.zoneinfo==0.2.1
decorator==5.1.1
Django==4.2.14
executing==2.0.1
greenlet==3.0.3
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.7
mysql-connector-python==9.0.0
mysqlx-connector-python==9.0.0
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.47
protobuf==4.25.3
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
PyMySQL==1.1.1
six==1.16.0
SQLAlchemy==2.0.31
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
